<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kennyrep.stanbic">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Congratulations">
            <intent-filter>
                <action android:name=".congratulations" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Register">
            <intent-filter>
                <action android:name=".Register" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Homepage"
            android:label="@string/home" />

        <activity
            android:name=".NewProspect"
            android:label="New Prospect"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/NewProspectTheme.Base" />

        <activity
            android:name=".CallPlan"
            android:label="Call Plan"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/CallPlanTheme" />

        <activity
            android:name=".Visitor"
            android:label="Visitor"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/VisitorTheme"/>

        <activity android:name=".VisitorInformation"
            android:label="Visitor Information"
            android:parentActivityName=".Visitor"
            android:theme="@style/VisitorInformationTheme"/>

        <activity
            android:name=".AddNewProspect"
            android:label="Add New Prospect"
            android:parentActivityName=".NewProspect"
            android:theme="@style/AddNewProspectTheme"/>

        <activity android:name=".AjayiVentures"
            android:label="Ajayi Ventures"
            android:parentActivityName=".CallPlan"
            android:theme="@style/AjayiVenturesTheme"/>

        <activity
            android:name=".NavDrawerActivity"
            android:label="@string/home"
            android:theme="@style/NavDrawerThemme"></activity>
    </application>

</manifest>